/* este es el estilo de portfolio de samuel */
body
#wrapper {width: 85%;
            background-color: white;
            margin: auto;}
header {background-image:url(imagenes/header.jpg);
                            height:300px;
                            background-size:cover;
                            /* cover adapta bien la imagen responsive
                            pero la corta... */
                            background-position:center;}
                            /* como mi imagen tiene lo importante en el centro,
                            debo poner background-position:center para que corte
                            de los lados */
#titulo {position:absolute;
        width:40%;
        top: 100px;

        /* OJO, RARO: para que el navegador calcule bien 
        el centro donde poner el titulo, hay que indicarle
        estas 4 cosas: */
        left:0px;
        right:0px;
        margin-left: auto;
        margin-right: auto;

        font-family: 'Oswald', sans-serif;
        font-size: 2.5em;
        text-align:center}
/* aqui empieza el estilo de main */
h1 {text-align:center}
div.polaroid {
    width: 40%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    float:left;
    margin: 4%;}
    div.polaroid:hover{opacity:0.5}
    div.container {
    text-align: center;
    padding: 10px 20px;}
    @media only screen and (max-width:500px){
        div.polaroid {width:80%;}
    }