/* Este es el estilo de mi página de recetas */
body {background-image:url("imagenes/fondo.jpg");
        background-size: 200px 200px;}
#wrapper {      width:80%;
                height: 600px;
                overflow:auto;
                background-color: white;
                margin:auto;
                padding:1vw;
                border:1px solid black;}
ol {list-style-type: upper-roman;}
h1 {    text-align: center;
        color: sandybrown;}
h2 {color: blue;
        border-left: 8px solid green;
        border-bottom: 8px solid green;
        padding: 5px;
        display: inline-block;}
dt {font-weight: bold;
        color: orangered}
table {border:2px solid red;
        border-collapse:collapse}
td, th {border: 1px solid black;
        padding: 10px;}
tr:hover{background-color:silver}
td {text-align: center;}
iframe {display: block;
        width: 30vw;
        height:22.5vw;}
/*Vamos a utilizar un recurso llamado media query
que trata de incluir una especia de "if" y una
condición para que cambie algo en el estilo cuando
tengo una pantalla pequeña */
@media only screen and(max-width:500px)
{#wrapper {width:100%}
iframe {width:100%;
        height:75%;}}